/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#personal-info, #education, #skills, #work-experience {
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 600px) {
    #personal-info, #education, #skills, #work-experience {
        padding: 10px;
    }
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.hide{
    display: none;
}
.hide2{
    display: none;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.contact-info h1 {
    margin: 0;
    font-size: 1.5em;
}

.contact-info p {
    margin: 5px 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

.buttons {
    text-align: center;
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .profile {
        flex-direction: column;
        text-align: center;
    }

    .profile img {
        margin-bottom: 20px;
    }
}
